# Node.js
node_modules/

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de build
frontend/build/
dist/

# Fichiers de cache
.cache/
.next/
.nuxt/
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers originaux
Board/ 